<h1>Login!</h1>

<form action="/login" method="post">
    
    <input type="text" name="username" placeHolder="usename">
    <input type="password" name="password" placeHolder="password">
    <input type="submit" name="submit">
</form>