<h1>Sign up!</h1>

<form action="/register" method="post">
    
    <input type="text" name="username" placeHolder="usename">
    <input type="password" name="password" placeHolder="password">
    <input type="submit" name="submit">
</form>